/* Import Tailwind's base styles, which include reset and preflight styles */
@tailwind base;

/* Import Tailwind's component styles, for common components */
@tailwind components;

/* Import Tailwind's utility classes, which are the core of Tailwind CSS */
@tailwind utilities;

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}